<?xml version="1.0"?>

<robot name="rb1_robot">

    <!-- Define materials for visualization -->
    <material name="blue"><color rgba="0 0 1 1"/></material>
    <material name="gray"><color rgba="0.40 0.40 0.40 1"/></material>
    <material name="red"><color rgba="1 0 0 1"/></material>

    <!-- Base link -->
    <link name="base_link">
        <inertial>
            <mass value="18" />
            <origin xyz="0 0 0.3" rpy="0 0 0" />
            <inertia ixx="0.41625" ixy="0" ixz="0" iyy="0.41625" iyz="0" izz="0.5625" />
        </inertial>

        <collision>
            <geometry>
                <cylinder radius="0.25" length="0.30" />
            </geometry>
        </collision>

        <visual>
            <geometry>
                <cylinder radius="0.25" length="0.30" />
            </geometry>
            <material name="blue"/>
        </visual>
    </link>
</robot>